//? ОБНУЛЕНИЕ ------------------------------------------------//

*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  font-family: 'Commissioner', sans-serif;
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  scroll-behavior: smooth;
}

//? ОБЁРТКА -------------------------------------------------//

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

//? ТЕХНИЧЕСКИЕ КЛАССЫ --------------------------------------//

._container {
  max-width: 1046px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

//? СТРАНИЦА --------------------------------------------------//

.page__main-block {
  position: relative;
}
.page__questions {
  position: relative;
  max-width: 100%;
  max-height: 800px;
}
.page__services {
  position: relative;
}
.page__skills {
  position: relative;
  max-height: 800px;
}

//? ФОН ------------------------------------------------------//

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

//? ШАПКА ----------------------------------------------------//

.header {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 50;
}
.header__container {
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
}

//* ЛОГО и МЕНЮ ----------------------------------------------//

.header__logo {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}
.header__menu {
  font-size: 20px;
}
.menu {
  padding: 5px 0px;
}
.menu__list {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
}
.menu__item {
  padding: 0px 0px 0px 30px;
}
.menu__link {
  color: #fff;
  line-height: calc(24 / 18 * 100%);
}

//? ГЛАВНАЯ -------------------------------------------------//

.main-block {
  position: relative;
  z-index: 10;
}
.main-block__body {
  padding: 300px 0px 191px 0px;
  position: relative;
  max-height: 950px;
  z-index: 10;
}

//* ДЕВИЗ, КНОПКА ------------------------------------------------------------//

.body__title-and-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 380px;
}
.main-block__title {
  font-family: Prosto One;
  font-size: 52px;
  max-width: 555px;
  line-height: calc(64px / 52px * 100%);
  color: #fff;
}
.main-block__button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.main-block__text {
  color: #fff;
}
.button__click {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #fff;
  border: 1px solid #33b047;
  width: 326px;
  height: 76px;
  background: #33b047;
  border-radius: 50px;
  text-align: center;
  letter-spacing: 0.2px;
}

.button__text {
  font-weight: 200;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}

//* КАРТОЧКИ -------------------------------------------------//

.main-block__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 300px;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 200px 0px 10px 0px;
}
.cards__card {
  display: flex;
  flex-direction: column;
  flex: 0 1 25%;
  align-items: center;
  margin: 10px 0px 10px 0px;
}
.card-1 {
  max-width: 205px;
}
.card-2 {
  max-width: 186px;
}
.card-3 {
  max-width: 192px;
}
.card-4 {
  max-width: 174px;
}
.card__icon-1 {
  color: #fff;
  width: 70px;
  height: 70px;
  left: 253px;
  top: 612px;
}
.card__icon-2 {
  color: #fff;
  width: 70px;
  height: 70px;
  left: 548px;
  top: 612px;
}
.card__icon-3 {
  fill: #fff;
  width: 70px;
  height: 70px;
  left: 824px;
  top: 612px;
}
.card__icon-4 {
  color: #fff;
  width: 110px;
  height: 70px;
}
.card__text {
  margin: 5px;
  width: 208px;
  height: 47px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

//? ВОПРОСЫ ---------------------------------------------------//

.header-block {
  text-align: center;
}
.questions-block__title {
  height: 48px;
  font-weight: 800;
  font-size: 35px;
  line-height: calc(48px / 35px * 100%);
  text-align: center;
  color: #000000;
  margin: 30px 0px 0px 0px;
}
.questions__body {
  display: flex;
  flex-direction: column;
}
.questions__text {
  display: flex;
  width: 100%;
  height: 64px;
  left: 220px;
  top: 156px;
  font-size: 26px;
  line-height: 32px;
  color: #000;
  margin: 30px 0px 30px 25px;
}
.questions__text__icon {
  margin: 18px 20px 0px 0px;
  width: 60px;
  height: 20px;
  left: 142px;
  top: 168px;
}
.questions__text__p {
  width: 640px;
  height: 64px;
  left: 220px;
  top: 156px;
  font-size: 26px;
  line-height: 32px;
}
.button-service {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 33px;
  left: 36px;
  top: 15px;
  font-weight: 600;
  font-size: 24px;
  width: 256px;
  height: 64px;
  left: 220px;
  top: 496px;
  background: #fff;
  color: #3cbdfe;
  mix-blend-mode: normal;
  border: 3px solid #3cbdfe;
  border-radius: 50px;
  text-align: center;
  margin: 50px 0px 30px 105px;
}
.button-service:hover {
  background-color: #3cbdfe;
  color: #fff;
}

.button-service:active {
  background: #fff;
  border: 3px solid #3cbdfe;
  color: #3cbdfe;
}

//? УСЛУГИ --------------------------------------------------//

.services {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-height: 1800px;
  color: #fff;
}
.services__container {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  margin: 0px 0px 140px 0px;
}
.header-block__title {
  height: 48px;
  font-weight: 800;
  font-size: 35px;
  line-height: calc(48px / 35px * 100%);
  text-align: center;
  color: #fff;
  padding: 0px 0px 80px 0px;
}
.services__body {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  max-width: 714px;
}
.services__scale-tariff {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 23px;
}
.tariff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 290px;
  background: #2b2c32;
  border-radius: 5px;
  h3 {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
  }
  p {
    width: 200px;
    height: 57px;
    left: 19px;
    top: 151px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 37px;
    left: 32px;
    top: 236px;
    text-align: center;
    background: #33b047;
    border-radius: 20px;
    color: #fff;
  }
}
.tariff:hover {
  background-color: #373738;
}
.services__text-block {
  display: flex;
}
.services__text-block p {
  width: 773px;
  height: 82px;
  left: 302px;
  top: 0px;
  font-weight: 200;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin: 70px 0px 0px 0px;
}
.services__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

//? НАВЫКИ --------------------------------------------------//

.skills {
  position: relative;
  min-width: 1377px;
  min-height: 1024px;
  color: #ffffff;
}
.skills__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.skills__body {
  display: flex;
  flex-direction: column;
  max-height: 800px;
  margin: 60px 0px 0px 0px;
}
.skills__header-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 0px 0px;
}
.skills-block__title {
  width: 941px;
  height: 156px;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
}
.skills__main-skill {
  display: flex;
  justify-content: start;
  align-items: start;
}
.skill__box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 400px;
  height: 400px;
}
.skill__box__title {
  display: flex;
  justify-content: start;
  font-weight: 600;
  font-size: 38px;
  line-height: 46px;
  margin: 0px 0px 30px 0px;
}
.skills-list__li {
  display: flex;
}
.skills-list__li__icon {
  margin: 8px 20px 0px 0px;
  width: 60px;
  height: 20px;
}
.skills-list__li__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  width: 280px;
  margin: 5px 0px 20px 0px;
}
.skills__button-call {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.skills__button__click {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 326px;
  height: 76px;
  background: #3cbdfe;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

//? ПОДВАЛ -----------------------------------------------------//

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 499px;
  background: #01122b;
  color: #fff;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
.footer__block-list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  line-height: 27px;
  font-size: 22px;
  width: 800px;
}
.block-list-1 {
  max-width: 151px;
}
.block-list-2 {
  max-width: 213px;
}
.block-list-3 {
  max-width: 115px;
}
.block-list__title {
  margin: 0px 0px 10px 0px;
}
.footer-contact {
  color: #a1a1a1;
  font-size: 18px;
  width: 220px;
}
.footer-contact__a {
  color: #a1a1a1;
}
.footer-contact__a:hover {
  cursor: pointer;
  color: #fff;
}
.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.footer__logo__title {
  color: #a1a1a1;
}

//? ПЛАВНОЕ ПОЯВЛЕНИЕ ----------------------------------------//

.main-block__title {
  transform: translate(0px, 140%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.main-block__title._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.card-1 {
  transform: translate(0px, 110%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.card-1._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.card-2 {
  transform: translate(0px, 110%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.card-2._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.card-3 {
  transform: translate(0px, 110%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.card-3._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
.card-4 {
  transform: translate(0px, 110%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}
.card-4._active {
  transform: translate(0px, 0px);
  opacity: 1;
}

//*  АДАПТИВНОСТЬ ШАПКА, ЛОГО, МЕНЮ ---------------------------//
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 70px;
  }
}
@media (max-width: 767px) {
  .header__logo {
    font-size: 25px;
    max-width: 230px;
  }
  .header__menu {
    margin: 0px 0px 0px 30px;
  }
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
  .header__menu {
    margin: 0px 0px 0px 8px;
    font-size: 18px;
  }
  .header__logo {
    font-size: 22px;
    font-weight: bold;
  }
  .menu__item {
    padding: 0px 0px 0px 10px;
  }
}

//* АДАПТИВНОСТЬ ГЛАВНОЙ --------------------------------------//
/* НОУТБУКИ */
@media screen and (max-width: 1199px), screen and (max-height: 750px) {
  .main-block__body {
    padding: 200px 0px 91px 0px;
    position: relative;
    height: 740px;
    z-index: 10;
  }
  .body__title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 320px;
  }
}
/* ПЛАНШЕТЫ */
@media (max-width: 992px) {
  .main-block__body {
    max-height: 550px;
    padding: 200px 0px 191px 0px;
  }
  .main-block__title {
    font-size: 40px;
    max-width: 430px;
  }
  .button__click {
    font-size: 19px;
    width: 270px;
    height: 55px;
    margin: 0px 0px 0px 50px;
  }
  .button__text {
    font-size: 24px;
    width: 270px;
    margin: 0px 0px 0px 50px;
  }
}
/* СРЕДНИЕ ПЛАНШЕТЫ */
@media (max-width: 767px) {
  .main-block__body {
    padding: 150px 0px 191px 0px;
    max-height: 630px;
  }
  .body__title-and-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 380px;
  }
  .main-block__title {
    font-size: 35px;
    max-width: 400px;
    text-align: center;
  }
  .button__click {
    font-size: 14px;
    width: 230px;
    height: 45px;
    margin: 30px 0px 0px 0px;
  }
  .button__text {
    font-size: 18px;
    width: 230px;
    margin: 0px 0px 0px 0px;
  }
}
/* СМАРТФОНЫ */
@media (max-width: 479px) {
  .main-block {
    height: 850px;
  }
  .main-block__title {
    font-size: 30px;
    max-width: 350px;
    text-align: center;
  }
  .button__click {
    font-size: 14px;
    width: 230px;
    height: 45px;
    margin: 30px 0px 0px 0px;
  }
}

//* АДАПТИВНОСТЬ КАРТОЧЕК НА ГЛАВНОЙ -------------------------//
/* НОУТБУКИ */
@media (max-width: 1190px) {
  .main-block__cards {
    max-height: 250px;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 70px 0px 10px 0px;
  }
  .cards__card {
    margin: 0px 0px 10px 0px;
  }
}
/* ПЛАНШЕТЫ */
@media (max-width: 992px) {
  .main-block__cards {
    max-height: 200px;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 50px 0px 10px 0px;
  }
  .cards__card {
    flex: 0 1 50%;
    flex-wrap: wrap;
  }
  .card-1 {
    max-width: 180px;
  }
  .card-2 {
    max-width: 180px;
  }
  .card-3 {
    max-width: 180px;
  }
  .card-4 {
    max-width: 180px;
  }
  .card__icon-1 {
    width: 50px;
    height: 50px;
  }
  .card__icon-2 {
    width: 50px;
    height: 50px;
  }
  .card__icon-3 {
    width: 50px;
    height: 50px;
  }
  .card__icon-4 {
    width: 90px;
    height: 50px;
  }
  .card__text {
    width: 170px;
    height: 42px;
    font-size: 15px;
    line-height: 22px;
  }
}
/* СРЕДНИЕ ПЛАНШЕТЫ */
@media (max-width: 767px) {
  .cards__card {
    margin: 10px 0px 0px 0px;
  }
  .card-1 {
    max-width: 360px;
  }
  .card-2 {
    max-width: 360px;
  }
  .card-3 {
    max-width: 360px;
  }
  .card-4 {
    max-width: 360px;
  }
  .card__icon-1 {
    width: 40px;
    height: 40px;
    left: 253px;
    top: 612px;
  }
  .card__icon-2 {
    width: 40px;
    height: 40px;
    left: 548px;
    top: 612px;
  }
  .card__icon-3 {
    width: 40px;
    height: 40px;
    left: 824px;
    top: 612px;
  }
  .card__icon-4 {
    width: 80px;
    height: 40px;
  }
  .card__text {
    width: 160px;
    height: 42px;
    font-size: 14px;
    line-height: 20px;
  }
}
/* СМАРТФОНЫ */
@media (max-width: 479px) {
  .cards__card {
    flex: 0 1 100%;
  }
  .card-1 {
    max-width: 100%;
  }
  .card-2 {
    max-width: 100%;
  }
  .card-3 {
    max-width: 100%;
  }
  .card-4 {
    max-width: 100%;
  }

  .card-1 {
    transform: translate(0px, 0%);
    opacity: 1;
  }
  .card-2 {
    transform: translate(0px, 0%);
    opacity: 1;
  }
  .card-3 {
    transform: translate(0px, 0%);
    opacity: 1;
  }
  .card-4 {
    transform: translate(0px, 0%);
    opacity: 1;
  }
}

//* АДАПТИВНОСТЬ ВОПРОСОВ ------------------------------------//
/* ПЛАНШЕТЫ */
@media (max-width: 992px) {
  .questions-block__title {
    height: 37px;
    font-size: 28px;
  }
  .questions__text__p {
    width: 580px;
    height: 58px;
    font-size: 22px;
    line-height: 32px;
  }
}
/* СРЕДНИЕ ПЛАНШЕТЫ */
@media (max-width: 767px) {
  .page__questions {
    height: 650px;
  }
  .questions-block__title {
    height: 34px;
    font-size: 24px;
    margin: 50px 0px 0px 0px;
  }
  .questions__text__p {
    width: 530px;
    height: 30px;
    font-size: 20px;
    line-height: 32px;
  }
  .button-service {
    font-weight: 600;
    font-size: 20px;
    width: 220px;
    height: 52px;
    color: #3cbdfe;
    border: 3px solid #3cbdfe;
    border-radius: 50px;
    text-align: center;
    margin: 20px 0px 30px 105px;
  }
  .questions__text {
    display: flex;
    width: 100%;
    height: 80px;
    left: 220px;
    top: 156px;
    line-height: 32px;
    margin: 30px 0px 30px 0px;
    padding: 0px 10px 0px 0px;
    color: #000;
  }
}
/* СМАРТФОНЫ */
@media (max-width: 479px) {
  .page__questions {
    height: 600px;
  }
  .questions-block__title {
    height: 34px;
    font-size: 24px;
    margin: 50px 0px 70px 0px;
  }
  .questions__text__p {
    width: 100%;
    height: 100px;
    font-size: 17px;
    line-height: 32px;
  }
  .button-service {
    font-weight: 600;
    font-size: 20px;
    width: 220px;
    height: 52px;
    color: #3cbdfe;
    border: 3px solid #3cbdfe;
    border-radius: 50px;
    text-align: center;
    margin: 40px 0px 0px 0px;
  }
  .questions__text {
    width: 100%;
    height: 60px;
    color: #000;
    margin: 0px 0px 30px 0px;
  }
  .questions__text__icon {
    display: none;
  }
}

//* АДАПТИВНОСТЬ УСЛУГ ---------------------------------------//
/* НОУТБУКИ */
@media (max-width: 1199px), screen and (max-height: 750px) {
  .services {
    min-height: 1100px;
  }
  .services__image {
    filter: brightness(70%);
  }
}
/* ПЛАНШЕТЫ */
@media (max-width: 992px) {
  .services {
    min-height: 1100px;
  }
  .services__image {
    filter: brightness(30%);
  }
}
/* СРЕДНИЕ ПЛАНШЕТЫ */
@media (max-width: 767px) {
  .services {
    min-height: 1200px;
    justify-content: start;
  }
  .services__container {
    margin: 50px 0px 140px 0px;
  }
  .header-block__title {
    height: 40px;
    font-weight: 800;
    font-size: 30px;
    line-height: calc(48px / 35px * 100%);
    text-align: center;
    color: #fff;
    padding: 0px 0px 70px 0px;
  }
  .services__body {
    max-width: 426px;
  }
  .services__scale-tariff {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-gap: 20px;
  }
  .tariff {
    width: 200px;
    height: 270px;
    background: #2b2c32;
    border-radius: 5px;
    h3 {
      font-weight: bold;
      font-size: 14px;
      margin: 10px 0px 10px 0px;
    }
    p {
      width: 180px;
      height: 50px;
      left: 19px;
      top: 151px;
      font-weight: 300;
      font-size: 12px;
      line-height: 17px;
      text-align: center;
      margin: 0px 0px 18px 0px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 156px;
      height: 37px;
      left: 32px;
      top: 236px;
      text-align: center;
      background: #33b047;
      border-radius: 20px;
      color: #fff;
    }
  }
}
/* СМАРТФОНЫ */
@media (max-width: 479px) {
  .services {
    min-height: 1900px;
    justify-content: start;
  }
  .services__container {
    margin: 50px 0px 140px 0px;
  }
  .header-block__title {
    height: 40px;
    font-weight: 800;
    font-size: 30px;
    line-height: calc(48px / 35px * 100%);
    text-align: center;
    color: #fff;
    padding: 0px 0px 70px 0px;
    margin: 0px 0px 20px 0px;
  }
  .services__body {
    max-width: 203px;
    margin: 0 auto;
  }
  .services__scale-tariff {
    display: grid;
    grid-template-columns: repeat(1, 6fr);
    grid-gap: 20px;
  }
  .tariff {
    width: 200px;
    height: 270px;
    background: #2b2c32;
    border-radius: 5px;
    h3 {
      font-weight: bold;
      font-size: 14px;
      margin: 10px 0px 10px 0px;
    }
    p {
      width: 180px;
      height: 50px;
      left: 19px;
      top: 151px;
      font-weight: 300;
      font-size: 12px;
      line-height: 17px;
      text-align: center;
      margin: 0px 0px 18px 0px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 156px;
      height: 37px;
      left: 32px;
      top: 236px;
      text-align: center;
      background: #33b047;
      border-radius: 20px;
      color: #fff;
    }
  }
  .services__text-block {
    display: none;
  }
}


//! АДАПТИВНОСТЬ НАВЫКОВ ---------------------------------------//

/* ПЛАНШЕТЫ */
@media (max-width: 992px) {
}

/* СРЕДНИЕ ПЛАНШЕТЫ */
@media (max-width: 767px) {
}

/* СМАРТФОНЫ */
@media (max-width: 479px) {
}


//* АДАПТИВНОСТЬ ПОДВАЛА --------------------------------------//
/* ПЛАНШЕТЫ */
@media (max-width: 992px) {
  .footer {
    height: 485px;
  }
  .footer__block-list {
    font-size: 20px;
    width: 670px;
  }
  .block-list-1 {
    max-width: 136px;
  }
  .block-list-2 {
    max-width: 192px;
  }
  .block-list-3 {
    max-width: 103px;
  }
  .footer__block-list {
    font-size: 20px;
    width: 700px;
  }
  .footer-contact {
    color: #a1a1a1;
    font-size: 16px;
    width: 220px;
  }
  .footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
  }
}
/* СРЕДНИЕ ПЛАНШЕТЫ */
@media (max-width: 767px) {
  .footer {
    height: 460px;
  }
  .footer__block-list {
    font-size: 20px;
    width: 570px;
  }
  .block-list-1 {
    max-width: 110px;
  }
  .block-list-2 {
    max-width: 151px;
  }
  .block-list-3 {
    max-width: 78px;
  }
  .footer__block-list {
    font-size: 18px;
    width: 450px;
  }
  .footer-contact {
    font-size: 14px;
    width: 180px;
  }
  .footer__logo {
    font-size: 21px;
  }
}
/* СМАРТФОНЫ */
@media (max-width: 479px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
  }
  .footer__block-list {
    font-size: 27px;
    width: 400px;
  }
  .block-list-1 {
    max-width: 110px;
    margin: 0 auto;
  }
  .block-list-2 {
    display: none;
  }
  .block-list-3 {
    display: none;
  }
  .footer-contact {
    font-size: 14px;
    width: 180px;
  }
  .footer__logo {
    font-size: 22px;
  }
}